{% extends "layout.html" %}
{% block title %}Events{% endblock %}
{% block content %}
	<h1>Events</h1>
	<form action="search" method='post'>
		<div class="input-append">
			<input type="search" name="q"/>
		  	<button type="submit" class="btn btn-primary">Search</button>
		</div>
	</form>
	{% if past_events %}
	<h2>Recent events</h2>
	<table class="table table-condensed events">
	  <tbody>
		{% for event in past_events %}
	    <tr>
	      <td>{{ event.start_date|friendly_time }}</td>
	      <td><a href="{{ url_for('event', id=event.id) }}">{{ event.name }}</a></td>
	    </tr>
		{% endfor %}
	    </tr>
	  </tbody>
	</table>
	{% endif %}
	{% if current_events %}
	<h2>Current events</h2>
	<table class="table table-condensed events">
	  <tbody>
		{% for event in current_events %}
	    <tr>
	      <td>{{ event.start_date }}</td>
	      <td><a href="{{ url_for('event', id=event.id) }}">{{ event.name }}</a></td>
	    </tr>
		{% endfor %}
	    </tr>
	  </tbody>
	</table>
	{% endif %}
	{% if future_events %}
	<h2>Upcoming events</h2>
	<table class="table table-condensed events">
	  <tbody>
		{% for event in future_events %}
	    <tr>
	      <td>{{ event.start_date|datetimeformat("%B %d %Y") }}</td>
	      <td><a href="{{ url_for('event', id=event.id) }}">{{ event.name }}</a></td>
	    </tr>
		{% endfor %}
	    </tr>
	  </tbody>
	</table>
	{% endif %}
{% endblock %}