{% extends "layout.html" %}
{% block title %}About Gameconfs{% endblock %}
{% block content %}
	<h1>About this site</h1>
	<p>Any information on this site could be wrong. Always check the event's original website.</p>
	<p>Follow Gameconfs news at <a href="http://www.twitter.com/gameconfs" target="_blank">@Gameconfs</a> or check out the <a href="http://blog.gameconfs.com" target="_blank">blog</a>.</p>
	<p>My name is Jurie Horneman. I occasionally blog at <a href="http://www.intelligent-artifice.com/" target="_blank">Intelligent Artifice</a>. I regularly tweet as <a href="http://www.twitter.com/JurieOnGames" target="_blank">@JurieOnGames</a>. I make games <a href="http://www.linkedin.com/in/juriehorneman" target="_blank">for a living</a>.</p>
	<p>Want to help? Do you have questions or feedback? <a href="mailto:admin@gameconfs.com">Let me know</a>.</p>
	<p>This site is made possible by open source software such as <a href="http://flask.pocoo.org" target="_blank">Flask</a>, <a href="http://www.python.org" target="_blank">Python</a> and <a href="http://twitter.github.com/bootstrap/index.html" target="_blank">Bootstrap</a> (which includes icons by <a href="http://glyphicons.com/" target="_blank">Glyphicons</a>. It runs on <a href="http://www.heroku.com/" target="_blank">Heroku</a>.</p>
{% endblock %}