{% macro monthly_date_or_range(event) %}
  {% if event.start_date == event.end_date %}
  <span itemprop="startDate" content="{{ event.start_date|microdata_date }}">{{ event.start_date.day }}</span>
  <span itemprop="endDate" content="{{ event.end_date|microdata_date }}"></span>
  {% else %}
  <span itemprop="startDate" content="{{ event.start_date|microdata_date }}">{{ event.start_date.day }}</span>-<span itemprop="endDate" content="{{ event.end_date|microdata_date }}">{{ event.end_date.day }}</span>
  {% endif %}
{% endmacro %}
{% macro adhoc_date_or_range(event) %}
  {% if event.start_date == event.end_date %}
  <span itemprop="startDate" content="{{ event.start_date|microdata_date }}">{{ event.start_date|nice_date }} {{ event.start_date.year }}</span>
  <span itemprop="endDate" content="{{ event.end_date|microdata_date }}"></span>
  {% else %}
  <span itemprop="startDate" content="{{ event.start_date|microdata_date }}">{{ event.start_date|nice_date }}</span> until <span itemprop="endDate" content="{{ event.end_date|microdata_date }}">{{ event.end_date|nice_date }} {{ event.start_date.year }}</span>
  {% endif %}
{% endmacro %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>{% block title %}{{ project_name }}{% endblock %}</title>
  <meta name="description" content="{{ meta_description }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link href="{{ url_for('recent_feed') }}" rel="alternate" title="Recent Changes" type="application/atom+xml">
{% block head %}{% endblock %}
{% if not offline_mode %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-1597509-6', 'auto');
    ga('send', 'pageview');
  </script>
  {% if ce_retarget %}
  <script>(function() {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
    }
    _fbq.push(['addPixelId', '470029339846466']);
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', 'PixelInitialized', {}]);
  </script>
  <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=470029339846466&amp;ev=PixelInitialized" /></noscript>
{% endif %}
{% endif %}
</head>
{% if body_id %}
<body id="{{ body_id }}">
{% else %}
<body>
{% endif %}
  <div class="container">
    {% include 'header.html' %}
    {% if logged_in %}
    {% include 'admin_bar.html' %}
    {% endif %}
    {% block center %}{% endblock %}
    <div class="clearfix"></div>
    {% include 'footer.html' %}
  </div>
  <script src="{{ url_for('static', filename='js/all.min.js') }}"></script>
{% block end_of_body %}{% endblock %}
{% if not offline_mode %}
{% if ce_retarget %}
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1042973873;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1042973873/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
{% endif %}
{% endif %}
</body>
</html>