{% extends "layout.html" %}

{% macro form_control(field, placeholder="", explanation=None, class="span4") %}
    {% if field.errors %}
    <div class="control-group error">
    {% else %}
    <div class="control-group">
    {% endif %}
      {{ field.label(class="control-label") }}
      <div class="controls">
      {{ field(class=class, placeholder=placeholder) }}
      {% if field.errors %}
      <span class="help-inline">{% for error in field.errors %}{{ error }} {% endfor %}</span>
      {% else %}
      {% if explanation %}
      <span class="help-inline">{{ explanation }}</span>
      {% endif %}
      {% endif %}
      </div>
    </div>
{% endmacro %}

{% macro flash() %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flash_msgs">
    {% for category, message in messages %}
      <li class="alert alert-{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% endmacro %}

{% block title %}New event - Gameconfs{% endblock %}
{% block content %}
<form class="form-horizontal" method="POST" action="/new">
  <legend>Enter data for a new event</legend>
  {{ flash() }}
  <fieldset>
    {{ form.hidden_tag() }}
    {{ form_control(form.name, "Game Developers Conference 2013") }}
    {{ form_control(form.start_date, class="span2 datepicker") }}
    {{ form_control(form.end_date, class="span2 datepicker") }}
    {{ form_control(form.event_url, "http://www.gdconf.com") }}
    {{ form_control(form.twitter_account, "Official_GDC") }}
    {{ form_control(form.twitter_hashtags, "#gdc #gdc13") }}
    {{ form_control(form.venue, "Moscone Conference Center") }}
    {{ form_control(form.address, "San Francisco, USA (leave empty for online events)") }}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </fieldset>
</form>
{% endblock %}

{% block jscode %}
<script src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>
<script src="{{ url_for('static', filename='js/event-editing.js') }}"></script>
{% endblock %}