{% extends "layout.html" %}

{% macro form_control(field, placeholder="", class="", show_at_symbol=False) %}
    {% if field.errors %}
    <div class="form-group has-error">
    {% else %}
    <div class="form-group">
    {% endif %}
      {{ field.label(class="col-sm-3 control-label") }}
      <div class="col-sm-9">
        {%  if show_at_symbol %}
        <div class="input-group"><span class="input-group-addon">@</span>{{ field(class=class + " form-control", placeholder=placeholder) }}</div>
        {% else %}
        {{ field(class=class + " form-control", placeholder=placeholder) }}
        {% endif %}
        {% if field.errors %}
        <span class="help-inline">{% for error in field.errors %}{{ error }} {% endfor %}</span>
        {% else %}
      {% endif %}
      </div>
    </div>
{% endmacro %}

{% macro flash() %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flash-msgs">
    {% for category, message in messages %}
      <li class="flash-{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% endmacro %}

{% block title %}
{% if event_id %}
Edit event - Gameconfs
{% else %}
New event - Gameconfs
{% endif %}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/datepicker.css') }}">
{%  endblock %}

{% block content %}
{% if event_id %}
<form class="form-horizontal" method="POST" action="{{ url_for(view_name, id=event_id) }}">
  <legend>Edit event data</legend>
{% else %}
<form class="form-horizontal" method="POST" action="{{ url_for(view_name) }}">
  <legend>Enter data for a new event</legend>
{% endif %}
  {{ flash() }}
  {{ form.hidden_tag() }}
  {{ form_control(form.name, "Game Developers Conference 2013") }}
  {{ form_control(form.start_date, class="datepicker") }}
  {{ form_control(form.end_date, class="datepicker") }}
  {{ form_control(form.event_url, "http://www.gdconf.com") }}
  {{ form_control(form.twitter_account, "Official_GDC", show_at_symbol=True) }}
  {{ form_control(form.twitter_hashtags, "#gdc #gdc13") }}
  {{ form_control(form.venue, "Moscone Conference Center") }}
  {{ form_control(form.address, "San Francisco, USA (leave empty for online/worldwide events)") }}
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-primary">Save</button>
        {% if event_id %}
        <a class="btn btn-default" href="{{ url_for('event', id=event_id) }}">Cancel</a>
        {% endif %}
    </div>
  </div>
</form>
{% endblock %}

{% block end_of_body %}
<script src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>
<script src="{{ url_for('static', filename='js/event-editing.js') }}"></script>
{% endblock %}