{% extends "layout.html" %}
{% macro date_or_range(event) %}
  {% if event.start_date == event.end_date %}
  {{ event.start_date|nice_date }} {{ event.start_date.year }}
  {% else %}
  {{ event.start_date|nice_date }} until {{ event.end_date|nice_date }} {{ event.start_date.year }}
  {% endif %}
{% endmacro %}
{% block title %}{{ event.name }} - {{ date_or_range(event) }} - Gameconfs{% endblock %}
{% block content %}
  <div itemscope itemtype="http://schema.org/Event" class="event-entry">
    <h2 itemprop="name">{{ event.name }}</h2>
    <span class="glyphicon glyphicon-calendar"></span>
    <span class="event-date">{{ adhoc_date_or_range(event) }}</span>
    {% if event.event_url %}
    <span class="glyphicon glyphicon-link"></span>
    <span class="event-url"><a itemprop="url" href="{{ event.event_url }}" target="_blank">{{ event.event_url|pretty_url }}</a></span>
    {% endif %}
    {% if event.twitter_account %}
    <span class="glyphicon glyphicon-user"></span>
    <span class="event-twitter"><a href="http://twitter.com/{{ event.twitter_account|urlencode }}" target="_blank">@{{ event.twitter_account }}</a></span>
    {% endif %}
    {% if event.twitter_hashtags %}
    <span class="glyphicon glyphicon-tag"></span>
    <span class="event-hashtags">
      {% for tag in event.twitter_hashtags|split %}
      <a href="http://twitter.com/search?q=%23{{ tag[1:]|urlencode }}" target="_blank">{{ tag }}</a>
      {% endfor %}
    {% endif %}
    </span>
    <span class="glyphicon glyphicon-globe"></span>
    <span class="event-location" itemprop="location">{{ event|event_venue_and_location }}</span>
  </div>
  <p>
      <a class="btn btn-default" href="{{ url_for('event_ics', event_id=event.id) }}">Add to calendar</a>
      <a class="btn btn-default" href="{{ event|build_google_calendar_link|safe }}">Add to Google calendar</a>
  </p>
  {% if logged_in %}
  <div class="internal-data">
    <p>
      {% if event.series %}
      Part of the <a href="{{ url_for('view_series', series_id=event.series.id) }}">{{ event.series.name }} event series</a>.
      {% else %}
      Not part of a series.
      {% endif %}
      <br/>
      Created on: {{ event.created_at|datetimeformat('%d %B %Y %H:%M') }}.<br/>
      {% if event.created_at != event.last_modified_at %}
      Last modified on: {{ event.last_modified_at|datetimeformat('%d %B %Y %H:%M') }}.
      {% else %}
      Never modified.
      {% endif %}
    </p>
  </div>
  <a class="btn btn-sm btn-default" href="{{ url_for('edit_event', event_id=event.id) }}">Edit</a>
  <a class="btn btn-sm btn-default" href="{{ url_for('duplicate_event', event_id=event.id) }}">Duplicate</a>
  <a class="btn btn-sm btn-danger" id="delete-button" href="{{ url_for('delete_event', event_id=event.id) }}">Delete</a>
  {% endif %}
{% endblock %}
{% if logged_in %}
{% block end_of_body %}
<script src="{{ url_for('static', filename='js/event-editing.js') }}"></script>
{% endblock %}
{% endif %}