{% extends "layout.html" %}
{% block title %}{{ event.name }}{% endblock %}
{% block content %}
	<h1>{{ event.name }}</h1>
	<table class="table table-condensed events">
	  <tbody>
	    <tr>
	      <td>Website</td>
	      <td><a href="{{ event.main_url }}" target="_blank">{{ event.main_url }}</a></td>
	    </tr>
		{% if event.twitter_hashtags %}
	    <tr>
	      <td>Twitter hashtags</td> 
	      <td>
	      	{% for tag in event.twitter_hashtags|split %}
	      	<a href="http://twitter.com/#!/search/%23{{ tag[1:] }}" target="_blank">{{ tag }}</a> 
	      	{% endfor %}
	  	  </td>
	    </tr>
    	{% endif %}
		{% if event.twitter_account %}
	    <tr>
	      <td>Twitter account</td>
	      <td><a href="http://twitter.com/{{ event.twitter_account|urlencode }}" target="_blank">@{{ event.twitter_account }}</a></td>
	    </tr>
    	{% endif %}
	    <tr>
	      <td>Location</td>
	      <td><a href="http://maps.google.com?q={{ event.formatted_location_info|urlencode }}" target="_blank">{{ event.formatted_location_info }}</a></td>
	    </tr>
	  </tbody>
	</table>
	<a class="btn" href="{{ url_for('index') }}">Back to event list</a>
{% endblock %}