<div class="footer">
  <ul>
    <li><a href="{{ url_for('index') }}">Home</a></li>
    <li><a href="{{ url_for('static_page', page_name='other') }}">More events</a></li>
    <li><a target="_blank" href="http://blog.gameconfs.com">Blog</a></li>
    <li><a href="{{ url_for('stats') }}">Stats</a></li>
    <li><a href="{{ url_for('static_page', page_name='about') }}">About</a></li>
    <li><a href="{{ url_for('static_page', page_name='tools') }}">Tools</a></li>
  </ul>
  <br/>
  <p class="text-muted">&copy; 2012-2015 Jurie Horneman</p>
</div>