{% extends "layout.html" %}
{% block title %}Gameconfs{% endblock %}
{% block content %}
  {% if ongoing_events %}
	<h2>What's happening today</h2>
  <div class="ad-hoc-event-list">
    {% for event in ongoing_events %}
    <div class="event-entry">
      <span class="event-name"><a href="{{ url_for('view_event', event_id=event.id) }}">{{ event.name }}</a></span>
      <span class="event-hashtags">
        {% for tag in event.twitter_hashtags|split %}
        <a href="http://twitter.com/search?q=%23{{ tag[1:]|urlencode }}" target="_blank">{{ tag }}</a>
        {% endfor %}
      </span>
      <span class="event-date">{{ adhoc_date_or_range(event) }}</span>
      <span class="event-location">{{ event|event_location }}</span>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  <h2>All events</h2>
  <p>Search for an event by name:<br/>
  <form class="form-inline" method="POST" action="{{ url_for('search') }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
      <label class="sr-only" for="search">Event name</label>
      {{ form.search_string(id="search", class="form-control input-sm", placeholder="Amazing game event") }}
    </div>
    <button type="submit" class="btn btn-sm btn-primary">Search</button>
  </form>
  </p>
  <p>Browse <a href="{{  url_for('view_upcoming_events') }}">upcoming events</a>.</p>
  <p>Browse by year:<br/>
  {% for year in range(min_year, max_year + 1) %}
    <a href="{{ url_for('view_year', year=year) }}">{{ year }}</a>
  {% endfor %}
  </p>
  <p>Browse by country:<br/>
  <div class="browse-list">
  {% for country in countries %}
    {% if loop.index0 is even %}
    <div>
    {%  endif %}
      <a href="{{ url_for('view_place', place_name=country.name.lower()) }}">{{ country.name }}</a>
    {% if loop.index0 is odd %}
    </div>
    {% endif %}
  {% endfor %}
  {% if countries | length is odd %}
  </div>
  {% endif %}
  </div></p>
  <p>Browse by continent:<br/>
  <div class="browse-list">
  {% for continent in continents %}
    {% if loop.index0 is even %}
    <div>
    {% endif %}
      <a href="{{ url_for('view_place', place_name=continent.name.lower()) }}">{{ continent.name }}</a>
    {% if loop.index0 is odd %}
    </div>
    {% endif %}
  {% endfor %}
  {% if continents | length is odd %}
  </div>
  {% endif %}
  </div></p>
{% endblock %}