{% extends "layout.html" %}
{% block content %}
	{% for group in events|sort(attribute='start_date')|groupby('start_date.month') %}
    <h3>{{ group.grouper|nice_month }}</h3>
		<table class="table table-condensed events">
		  <tbody>
	    	{% for event in group.list %}
	      <tr>
		    	{% if event.start_date <= today and today <= event.end_date %}
		      	<td><span class="badge badge-today">TODAY</span></td>
		      {% else %}
			     	<td><span class="date">{{ event.start_date|nice_date }}</span><span class="short_date">{{ event.start_date|short_date }}</span></td>
		      {% endif %}
		      <td><a href="{{ url_for('event', id=event.id) }}">{{ event.name }}</a></td>
		      <td>{{ event.city_and_state_or_country }}</td>
		    </tr>
				{% endfor %}
		  </tbody>
		</table>
	{% endfor %}
	<p>Looking for game jams and compos? Check out <a href="http://compohub.net/" target="_blank">CompoHub</a>.</p>
{% endblock %}