<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='gdcal.css') }}">
    <title>{% block title %}{% endblock %} - GameDevCal</title>
  </head>
<body>
  <div class="container">
    {% block content %}{% endblock %}
  <div class="footer">
  	<p>GameConfs &copy; 2012 <a href="http://www.intelligent-artifice.com/" target="_blank">Jurie Horneman</a>. Made with <a href="http://twitter.github.com/bootstrap/index.html" target="_blank">Bootstrap</a>, <a href="http://flask.pocoo.org" target="_blank">Flask</a> and <a href="http://www.python.org" target="_blank">Python</a>.</p>
  </div>
  </div>
</body>
</html>