{% macro monthly_date_or_range(event) %}
  {% if event.start_date == event.end_date %}
  <span itemprop="startDate" content="{{ event.start_date|microdata_date }}">{{ event.start_date.day }}</span>
  <span itemprop="endDate" content="{{ event.end_date|microdata_date }}"></span>
  {% else %}
  <span itemprop="startDate" content="{{ event.start_date|microdata_date }}">{{ event.start_date.day }}</span>-<span itemprop="endDate" content="{{ event.end_date|microdata_date }}">{{ event.end_date.day }}</span>
  {% endif %}
{% endmacro %}
{% macro adhoc_date_or_range(event) %}
  {% if event.start_date == event.end_date %}
  <span itemprop="startDate" content="{{ event.start_date|microdata_date }}">{{ event.start_date|nice_date }} {{ event.start_date.year }}</span>
  <span itemprop="endDate" content="{{ event.end_date|microdata_date }}"></span>
  {% else %}
  <span itemprop="startDate" content="{{ event.start_date|microdata_date }}">{{ event.start_date|nice_date }}</span> until <span itemprop="endDate" content="{{ event.end_date|microdata_date }}">{{ event.end_date|nice_date }} {{ event.start_date.year }}</span>
  {% endif %}
{% endmacro %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Gameconfs{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="The world's most comprehensive directory of conferences, trade shows and events related to electronic games.">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link href="{{ url_for('recent_feed') }}" rel="alternate" title="Recent Changes" type="application/atom+xml">
{% block head %}{% endblock %}
    {% if not offline_mode %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1597509-6']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% endif %}
  </head>
{% if body_id %}
<body id="{{ body_id }}">
{% else %}
<body>
{% endif %}
  <div class="container">
    <div class="title">
      <div class="pull-left">
        <p><strong>Gameconfs</strong> - a directory of game industry events.</p>
      </div>
      <div class="pull-right">
        <button class="btn btn-info" data-toggle="modal" data-target="#feedbackForm">Send feedback</button>
      </div>
    </div>
    {% if logged_in %}
    <div id="admin-bar">
      <a class="btn btn-sm btn-primary" href="{{ url_for('admin.index') }}">Dashboard</a>
      {% if not body_id or body_id != "edit-event" %}
      <a class="btn btn-sm btn-default" href="{{ url_for('create_new_event') }}">New event</a>
      {% endif %}
      <a class="btn btn-sm btn-danger pull-right" href="{{ url_for('security.logout') }}">Sign out {{ current_user.user_name }}</a>
    </div>
    {% endif %}
    <div class="row">
      <div class="col-md-8">
        {% block content %}{% endblock %}
      </div>
      {% if sponsor %}
      <div class="col-md-4">
        <h2>&nbsp;</h2>
        <div id="sponsor">
          <p><span class="text-muted">This month's sponsor:</span><br/>
          <a href="{{ sponsor.target_url }}" target="_blank">{{ sponsor.text }}</a></p>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="clearfix"></div>
    <div class="footer">
      <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('static_page', page_name='other') }}">More events</a></li>
        <li><a target="_blank" href="http://blog.gameconfs.com">Blog</a></li>
        <li><a href="{{ url_for('stats') }}">Stats</a></li>
        <li><a href="{{ url_for('static_page', page_name='about') }}">About</a></li>
        <li><a href="{{ url_for('static_page', page_name='tools') }}">Tools</a></li>
      </ul>
      <br/>
      <p class="text-muted">&copy; 2012-2014 Jurie Horneman</p>
    </div>
    <div class="modal fade" id="feedbackForm" tabindex="-1" role="dialog" aria-labelledby="feedbackFormLabel" aria-hidden="true">
      <div class="modal-header">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="feedbackFormLabel">Hi there</h4>
            </div>
            <div class="modal-body">
              <p>Is an event missing? Did you spot a mistake? Is there a feature you'd really like to see? Please let me know!</p>
              <form>
                <textarea id="feedbackText" class="form-control" name="feedback" placeholder="" rows="4"></textarea>
              </form>
            </div>
            <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button class="btn btn-primary" onclick="submitFeedbackDialog();">Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/all.min.js') }}"></script>
{% block end_of_body %}{% endblock %}
  {% if not offline_mode %}
  <script src="//static.getclicky.com/js" type="text/javascript"></script>
  <script type="text/javascript">try{ clicky.init(66602292); }catch(e){}</script>
  <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/66602292ns.gif" /></p></noscript>
  {% endif %}
</body>
</html>