{% extends "base.html" %}
{% block center %}
<div class="row">
  <div class="col-md-8">
    {% block content %}{% endblock %}
  </div>
  {% if sponsor %}
  <div class="col-md-4">
    <h2>&nbsp;</h2>
    <div id="sponsor">
      <p><span class="text-muted">This month's sponsor:</span><br/>
      <a href="{{ sponsor.target_url }}" onclick="trackSponsorLink('{{ sponsor.target_url }}'); return false;" target="_blank">
      {% if sponsor.image_path %}
        <img src="{{ url_for('static', filename=sponsor.image_path) }}" alt="{{ sponsor.alt_text }}" width="320">
      {% endif %}
      {% if sponsor.text %}
        {{ sponsor.text }}
      {% endif %}
      </a></p>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}