{% extends "layout.html" %}
{% block content %}
	{% if events %}
	<h3>{{ month|nice_month }} {{ year }}</h3>
	<table class="table table-condensed events">
	  	<tbody>
		{% for event in events|sort(attribute='start_date') %}
    		<tr>
			{% if event.start_date <= today and today <= event.end_date %}
	      	<td><span class="badge badge-today">TODAY</span></td>
	      	{% else %}
		     	<td><span class="date">{{ event.start_date|nice_date }}</span><span class="short_date">{{ event.start_date|short_date }}</span></td>
	      	{% endif %}
	      	<td><a href="{{ url_for('event', id=event.id) }}">{{ event.name }}</a></td>
	      	<td>{{ event.city_and_state_or_country }}</td>
		  	</tr>
			{% endfor %}
	  	</tbody>
	</table>
	{% else %}
	<h3>
		<a href="/{{ year }}/{{ month }}">{{ month|nice_month }} {{ year }}</a> 
	</h3>
	<p>No events.</p>
	{% endif %}
	<p><a class="btn" href="{{ url_for('index') }}"><i class="icon-arrow-left"></i> Back to event list</a></p>
{% endblock %}