{% extends "layout.html" %}
{% block title %}Gameconfs Notifications{% endblock %}
{% block content %}
	<h1>How to get notified when an event is added</h1>
	<p>There's an easy way to be notified whenever a new event is added to Gameconfs, and you don't need to register here or anything.</p>
  <p>Gameconfs provides an Atom (similar to RSS) feed of recently added events. The URL of the feed is <a href="{{ url_for('recent_feed', _external=True) }}">{{ url_for('recent_feed', _external=True) }}</a>, or you can just use www.gameconfs.com through the magic of feed auto-discovery.</p>
  <p>So what can you do with this feed? Well, for one, you can subscribe to it in the RSS reader of your choice, like NetNewsWire or Reeder if you’re on a Mac.</p>
  <p>What you can also do is pass that feed to another website called IFTTT ("If This Then That"). IFTTT allows you to say “IF there’s a new entry in the Gameconfs feed THEN send me an email”. They call this a recipe, and they make it really easy to create and use recipes. You can do a LOT more than just send emails by the way - I use it to automatically tweet on @gameconfs whenever a new event is added.</p>
  <p>To make things easier, I’ve created the recipe for you! It’s right <a href="https://ifttt.com/recipes/92298">here</a>. So all you need to do is create and IFTTT account, go to that link, click Use Recipe, and enter your email address.</p>
  <p>(Yahoo! Pipes should also work instead of IFTTT - I happen to use IFTTT. But since Atom is a standard format, it shouldn’t matter which site you use.)</p>
{% endblock %}