{% extends "layout.html" %}
{% block title %}Other event directories{% endblock %}
{% block content %}
	<h2>Other event directories</h2>
	<p>If you're looking for game jams, compos, tournaments, festivals and concerts, Gameconfs is not the right site. But you might find what you're looking for here:</p>
	<ul>
		<li><a href="http://compohub.net/" target="_blank">CompoHub</a></li>
		<li><a href="http://www.zo-ii.com/events/" target="_blank">Zo-ii's event blog</a></li>
		<li><a href="http://www.gamejamcentral.com/" target="_blank">Game Jam Central</a></li>
        <li><a href="http://nerdyconcerts.com/" target="_blank">NerdyConcerts.com</a>, your one-stop source for all video game, anime, cartoon and movie related concerts.</li>
        <li><a href="http://www.tournamentseeker.com/" target="_blank">Tournament Seeker</a>, a directory of video game tournaments.</li>
        <li><a href="http://www.promoterapp.com/calendar" target="_blank">Promoter Calendar</a>, a curated festival and competition calendar for independent game developers.</li>
        <li><a href="http://gameconventioncentral.com" target="_blank">Game Convention Central</a>, a directory of board game and pen and paper RPG conventions.</li>
        <li><a href="http://www.gamingevents.co.uk" target="_blank">GamingEvents.co.uk</a>, a directory of events in the UK with a focus on retro and classic gaming.</li>
        <li><a href="https://www.google.com/calendar/embed?src=02pa2um9fvgp8mirtcjrku5dd8%40group.calendar.google.com&ctz=Europe/London" target="_blank">Pervasive Games and Playful Things</a>,
          a Google calendar for pervasive and playful events.</li>
        <li><a href="http://www.londongamediary.com" target="_blank">London Game Diary</a>, a list of upcoming London game events, exhibitions, meetups and more.</li>
	</ul>
	<p>(These sites are not associated with Gameconfs or vice versa.)</p>
{% endblock %}