{% extends "layout.html" %}
{% block title %}Other event directories{% endblock %}
{% block content %}
	<h1>Other event directories</h1>
	<p>If you're looking for game jams, compos and concerts, Gameconfs is not the right site. But you might find what you're looking for here:</p>
	<ul>
		<li><a href="http://compohub.net/" target="_blank">CompoHub</a></li>
		<li><a href="http://www.zo-ii.com/events/" target="_blank">Zo-ii's event blog</a></li>
		<li>The <a href="https://twitter.com/globalgamejam" target="_blank">Global Game Jam</a> twitter account.</li>
		<li><a href="http://www.gamejamcentral.com/" target="_blank">Game Jam Central</a></li>
		<li><a href="http://ludologyu.com/jams" target="_blank">Ludology University Jams List</a></li>
        <li><a href="http://nerdyconcerts.com/">NerdyConcerts.com</a>, your one-stop source for all video game, anime, cartoon and movie related concerts.</li>
	</ul>
	<p>(None of these sites is associated with Gameconfs, or vice versa.)</p>
{% endblock %}