{% macro _date_or_range(event) %}
  {% if event.start_date == event.end_date %}
  <span itemprop="startDate" content="{{ event.start_date|microdata_date }}">{{ event.start_date.day }}</span>
  <span itemprop="endDate" content="{{ event.end_date|microdata_date }}"></span>
  {% else %}
  <span itemprop="startDate" content="{{ event.start_date|microdata_date }}">{{ event.start_date.day }}</span>-<span itemprop="endDate" content="{{ event.end_date|microdata_date }}">{{ event.end_date.day }}</span>
  {% endif %}
{% endmacro %}

{% extends "layout.html" %}
{% block title %}
  {% if location == "online" %}
  Past online events
  {% else %}
  Past events in {{ location }}
  {% endif %}
{% endblock %}
{% block content %}
  {% if events %}
  {% if location == "online" %}
  <h1>Past online events</h1>
  {% else %}
  <h1>Past events in {{ location }}</h1>
  {% endif %}
	{% for year_group in events|sort(attribute='start_date')|groupby('start_date.year')|reverse %}
	{% for month_group in year_group.list|sort(attribute='start_date')|groupby('start_date.month')|reverse %}
	<h4>{{ month_group.grouper|nice_month }} {{ year_group.grouper }}</h4>
  <div id="events">
  {% for event in month_group.list|reverse %}
    <div class="event-entry">
        <span class="event-date">{{ _date_or_range(event) }}</span>
        <span class="event-link"><a href="{{ url_for('event', id=event.id) }}">{{ event.name }}</a></span>
        <span class="event-location">{{ event|event_location }}</span>
    </div>
  {% endfor %}
  </div>
  {% endfor %}
  {% endfor %}
	{% else %}
  {% if location == "online" %}
  <p>We don't know of any online events in {{ year }}.</p>
	{% else %}
  <p>We don't know of any events in {{ location }} in {{ year }}.</p>
  {% endif %}
  {% endif %}
{% endblock %}