{% extends "layout.html" %}
{% block content %}
	<ul class="breadcrumb">
		<li>
			<a href="{{ url_for('index') }}">All</a> <span class="divider">/</span>
		</li>
		{% for place_part in place_parts[:-1] %}
		<li>
			<a href="{{ url_for('place', place=place_part) }}">{{ place_part }}</a> <span class="divider">/</span>
		</li>
		{% endfor %}
		<li class="active">{{ place_parts[-1] }}</li>
	</ul>

	<h2>Game events in {{ place_parts[-1] }}</h2>
	{% if events %}
	{% for year_group in events|sort(attribute='start_date')|groupby('start_date.year') %}
	{% for month_group in year_group.list|groupby('start_date.month') %}
	<h3>
		<a href="/{{ year_group.grouper }}/{{ month_group.grouper }}">{{ month_group.grouper|nice_month }} {{ year_group.grouper }}</a>
	</h3>
	<table class="table table-condensed events">
	  	<tbody>
		{% for event in month_group.list %}
    		<tr>
			{% if event.start_date <= today and today <= event.end_date %}
	      	<td><span class="badge badge-today">TODAY</span></td>
	      	{% else %}
		     	<td><span class="date">{{ event.start_date|nice_date }}</span><span class="short_date">{{ event.start_date|short_date }}</span></td>
	      	{% endif %}
	      	<td><a href="{{ url_for('event', id=event.id) }}">{{ event.name }}</a></td>
	      	<td>{{ event.city|city_and_state_or_country }}</td>
		  	</tr>
			{% endfor %}
	  	</tbody>
	</table>
	{% endfor %}
	{% endfor %}
	{% else %}
	<p>No events.</p>
	{% endif %}
{% endblock %}