{% extends "layout.html" %}
{% macro title() -%}
{%- if location == "other" -%}
Online events in {{ year }}
{%- else -%}
Events in {{ location }} in {{ year }}
{%- endif -%}
{%- endmacro %}
{% block title %}{{ title() }}{% endblock %}
{% block ga_title %}{{ title() }}{% endblock %}
{% block content %}
  {% if location == "other" %}
  <h2>Events in {{ year }}</h2>
  {% else %}
  <h2>Events in {{ location }} in {{ year }}</h2>
  {% endif %}
  {% if is_in_london %}
  <p>You may be able to find more London events at <a href="http://www.londongamediary.com" target="_blank">London Game Diary</a> or on <a href="http://www.meetup.com/London-Indie-Game-Developers/" target="_blank">Meetup.com</a>.</p>
  {% endif %}
  {% if events %}
  <div class="monthly-event-list">
	{% for month_group in events|sort(attribute='start_date')|groupby('start_date.month') %}
	<a name="{{ month_group.grouper }}"></a>
	<h4>{{ month_group.grouper|nice_month }} {{ year }}</h4>
  {% for event in month_group.list %}
    <div class="event-entry clearfix">
      <div class="event-date">{{ monthly_date_or_range(event) }}</div>
      <div class="event-name"><a href="{{ url_for('view_event', event_id=event.id) }}">{{ event.name }}</a></div>
      <div class="event-location">{{ event|event_location }}</div>
    </div>
  {% endfor %}
  {% endfor %}
  </div>
  {% if location == "other" %}
  <p>Browse <a href="{{ url_for('view_place_past', place_name=location) }}">past events</a>.</p>
	{% else %}
  <p>Browse <a href="{{ url_for('view_place_past', place_name=location) }}">past events</a> in {{ location  }}.</p>
  {% endif %}
	{% else %}
  {% if location == "other" %}
  <p>We don't know of any other events in {{ year }}. Browse <a href="{{ url_for('view_place_past', place_name=location) }}">past events</a>.</p>
	{% else %}
  <p>We don't know of any events in {{ location }} in {{ year }}. Browse <a href="{{ url_for('view_place_past', place_name=location) }}">past events in {{ location }}</a>.</p>
  {% endif %}
  {% endif %}
{% endblock %}