{% macro _date_or_range(event) %}
  {% if event.start_date == event.end_date %}
  <span itemprop="startDate" content="{{ event.start_date|microdata_date }}">{{ event.start_date.day }}</span>
  <span itemprop="endDate" content="{{ event.end_date|microdata_date }}"></span>
  {% else %}
  <span itemprop="startDate" content="{{ event.start_date|microdata_date }}">{{ event.start_date.day }}</span>-<span itemprop="endDate" content="{{ event.end_date|microdata_date }}">{{ event.end_date.day }}</span>
  {% endif %}
{% endmacro %}

{% extends "layout.html" %}
{% block title %}
  {% if location == "online" %}
  Online events in {{ year }}
  {% else %}
  Events in {{ location }} in {{ year }}
  {% endif %}
{% endblock %}
{% block content %}
  {% if events %}
  {% if location == "online" %}
  <h1>Online events in {{ year }}</h1>
  {% else %}
  <h1>Events in {{ location }} in {{ year }}</h1>
  {% endif %}
	{% for month_group in events|sort(attribute='start_date')|groupby('start_date.month') %}
	<a name="{{ month_group.grouper }}"></a>
	<h4>{{ month_group.grouper|nice_month }} {{ year }}</h4>
  <div id="events">
  {% for event in month_group.list %}
    <div class="event-entry">
        <span class="event-date">{{ _date_or_range(event) }}</span>
        <span class="event-link"><a href="{{ url_for('event', id=event.id) }}">{{ event.name }}</a></span>
        <span class="event-location">{{ event|event_location }}</span>
    </div>
  {% endfor %}
  </div>
  {% endfor %}
  {% if location == "online" %}
  <p>Browse <a href="{{ url_for('place_past', place=location) }}">past online events</a>.</p>
	{% else %}
  <p>Browse <a href="{{ url_for('place_past', place=location) }}">past events</a> in {{ location  }}.</p>
  {% endif %}
	{% else %}
  {% if location == "online" %}
  <p>We don't know of any online events in {{ year }}. Browse <a href="{{ url_for('place_past', place=location) }}">past online events</a>.</p>
	{% else %}
  <p>We don't know of any events in {{ location }} in {{ year }}. Browse <a href="{{ url_for('place_past', place=location) }}">past events</a>.</p>
  {% endif %}
  {% endif %}
{% endblock %}