<h2>{{ event.name }}</h2>
<table>
  <tbody>
    {% if event.start_date == event.end_date %}
    <tr>
      <td>Date</td>
      <td>{{ event.start_date|nice_date }} {{ event.start_date.year }}</td>
    </tr>
    {% else %}
    <tr>
      <td>Dates</td>
      <td>{{ event.start_date|nice_date }} until {{ event.end_date|nice_date }} {{ event.start_date.year }}
      </td>
    </tr>
    {% endif %}
    <tr>
      <td>Website</td>
      {% if event.event_url %}
      <td><a href="{{ event.event_url }}">{{ event.event_url }}</a></td>
      {% else %}
      <td>None</td>
      {% endif %}
    </tr>
    {% if event.twitter_hashtags %}
    <tr>
      <td>Twitter hashtags</td>
      <td id="event_hashtags">
        {% for tag in event.twitter_hashtags|split %}
        <a href="http://twitter.com/#!/search/%23{{ tag[1:] }}" target="_blank">{{ tag }}</a>
        {% endfor %}
      </td>
    </tr>
    {% endif %}
    {% if event.twitter_account %}
    <tr>
      <td>Twitter account</td>
      <td><a href="http://twitter.com/{{ event.twitter_account|urlencode }}" target="_blank">@{{ event.twitter_account }}</a></td>
    </tr>
    {% endif %}
    <tr>
      <td>Location</td>
      <td>{{ event|event_location }}</td>
    </tr>
  </tbody>
</table>