{% extends "layout.html" %}
{% block title %}Search results{% endblock %}
{% block ga_title %}Search results{% endblock %}
{% block content %}
  <h2>Search results</h2>
  {% if found_events %}
  <p>Events with names containing "{{ search_string }}":</p>
  <div class="ad-hoc-event-list">
  {% for event in found_events %}
    <div class="event-entry">
        {% if event.is_published %}
        <span class="event-name"><a href="{{ url_for('view_event', event_id=event.id) }}">{{ event.name }}</a></span>
        {% else %}
        <span class="event-name unpublished"><a href="{{ url_for('view_event', event_id=event.id) }}">{{ event.name }}</a></span>
        {% endif %}
        <span class="event-date">{{ adhoc_date_or_range(event) }}</span>
        <span class="event-location">{{ event|event_location }}</span>
    </div>
  {% endfor %}
  </div>
	{% else %}
  <p>We don't know of any events called "{{ search_string}}".</p>
  {% endif %}
  <p><br/>
  <form class="form-inline" method="POST" action="{{ url_for('search') }}">
    {{ search_form.hidden_tag() }}
    <div class="form-group">
      <label class="sr-only" for="search">Event name</label>
      {{ search_form.search_string(id="search", class="form-control input-sm", placeholder="Event name") }}
    </div>
    <button type="submit" class="btn btn-sm btn-primary">Search again</button>
  </form>
  </p>
{% endblock %}