{% extends "layout.html" %}
{% block title %}Search results{% endblock %}
{% block content %}
  <h1>Search results</h1>
  {% if found_events %}
  <p>Events with names containing "{{ search_string }}":</p>
  <div class="ad-hoc-event-list">
  {% for event in found_events %}
    <div class="event-entry">
        <span class="event-name"><a href="{{ url_for('view_event', event_id=event.id) }}">{{ event.name }}</a></span>
        <span class="event-date">{{ adhoc_date_or_range(event) }}</span>
        <span class="event-location">{{ event|event_location }}</span>
    </div>
  {% endfor %}
  </div>
	{% else %}
  <p>We don't know of any events called "{{ search_string}}".</p>
  {% endif %}
{% endblock %}