{% extends "layout.html" %}
{% block content %}
	<h1>Events by month</h1>
	<table class="table table-condensed" id="time-stats">
		<thead>
			<tr>
				<td></td>
				{% for year_stats in time_stats|dictsort %}
				<td>
					{{ year_stats[0] }}
				</td>
				{% endfor %}
			</tr>
		</thead>
	  	<tbody>
			{% for month in range(1, 12+1) %}
			<tr>
				<td>{{ month|nice_month }}</td>
				{% for year_stats in time_stats|dictsort %}
				<td>
					{{ year_stats[1][month-1] }}
				</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<td>Total</td>
				{% for year_stats in time_stats|dictsort %}
				<td>
					{{ year_stats[1][12] }}
				</td>
				{% endfor %}
			</tr>
		</tfoot>
	</table>
	<p>Total number of events: <strong>{{ total_nr_events }}</strong>. Events before May 2012 are patchy.</p>
{% endblock %}