{% extends "layout.html" %}
{% block content %}
	<h2>Events by month</h2>
	<table class="table table-condensed stats" id="time-stats">
		<thead>
			<tr>
				<td></td>
				{% for month in range(1, 12+1) %}
				<td>{{ month|short_month }}</td>
				{% endfor %}
				<td class="total">Total</td>
			</tr>
		</thead>
	  	<tbody>
			{% for year_stats in time_stats|dictsort %}
			<tr>
				<td>{{ year_stats[0] }}</td>
				{% for month in range(1, 12+1) %}
				<td>{{ year_stats[1][month-1] }}</td>
				{% endfor %}
				<td class="total">{{ year_stats[1][12] }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<p>Total number of events: <strong>{{ total_nr_events }}</strong>. Events before May 2012 are patchy.</p>
	<br/>
	<h2>Top {{ country_stats|length }} countries</h2>
	<table class="table table-condensed stats bars" id="country-stats"></table>
	<p>Total number of countries: <strong>{{ total_nr_countries }}</strong>.</p>
	<br/>
	<h2>Top {{ city_stats|length }} cities</h2>
    <table class="table table-condensed stats bars" id="city-stats"></table>
	<p>Total number of cities: <strong>{{ total_nr_cities }}</strong>.</p>
{% endblock %}
{% block jscode %}
<script src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript">
var country_data = {{ country_stats|tojson|safe }};
var city_data = {{ city_stats|tojson|safe }};
</script>
<script src="{{ url_for('static', filename='js/stats.js') }}"></script>
{% endblock %}