{% extends "layout.html" %}
{% block title %}Gameconfs Today{% endblock %}
{% block content %}
{% if ongoing_events %}
	<h1>What's happening today</h1>
    <div>
        {% for event in ongoing_events %}
        {% if loop.index0 % 3 == 0 %}
        <div class="row">
        {%  endif %}
        <div class="span4 event-card"><div>
            <span class="event-name"><a href="{{ url_for('event', id=event.id) }}">{{ event.name }}</a></span>
            <span class="event-location">{{ event|event_city_and_state_or_country }}</span>
            <span class="event-hashtags">
                {% for tag in event.twitter_hashtags|split %}
                <a href="http://twitter.com/search?q=%23{{ tag[1:]|urlencode }}" target="_blank">{{ tag }}</a>
                {% endfor %}
            </span>
        </div></div>
        {% if loop.index0 % 3 == 2 %}
        </div>
        {% endif %}
        {% endfor %}
        {% if loop.index0 % 3 != 0 %}
        </div>
        {% endif %}
    </div>
{%  endif %}

{% if upcoming_events %}
    <h1>Upcoming events</h1>
    <table class="table table-condensed events">
        <tbody>
            {% for event in upcoming_events %}
            <tr>
            <td><span class="hidden-xs">{{ event.start_date|nice_date }}</span><span class="visible-xs">{{ event.start_date|short_date }}</span></td>
            <td><a href="{{ url_for('event', id=event.id) }}">{{ event.name }}</a></td>
            <td>{{ event|event_city_and_state_or_country }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}
{% block end_of_body %}
<script src="{{ url_for('static', filename='js/jQuery.equalHeights.js') }}"></script>
<script>
function adaptToWindowWidth() {
    var row = $('.row');
    if (window.innerWidth > 768) {
        row.equalHeights();
    } else {
        // This code copied from jQuery.equalHeights.js
		if ($.browser.msie && $.browser.version == 6.0) { row.children().css({'height': '0'}); }
		row.children().css({'min-height': '0'});
    }
}
$(window).resize(adaptToWindowWidth);
adaptToWindowWidth();
</script>
{% endblock %}