{% macro _date_or_range(event) %}
  {% if event.start_date == event.end_date %}
  <span itemprop="startDate" content="{{ event.start_date|microdata_date }}">{{ event.start_date.day }}</span>
  <span itemprop="endDate" content="{{ event.end_date|microdata_date }}"></span>
  {% else %}
  <span itemprop="startDate" content="{{ event.start_date|microdata_date }}">{{ event.start_date.day }}</span>-<span itemprop="endDate" content="{{ event.end_date|microdata_date }}">{{ event.end_date.day }}</span>
  {% endif %}
{% endmacro %}

{% extends "layout.html" %}
{% block title %}Upcoming events{% endblock %}
{% block content %}
  <h1>Upcoming events</h1>
  {% if events %}
	{% for month_group in events|sort(attribute='start_date')|groupby('year_month_index') %}
	<h4>{{ month_group.grouper|index_to_month|nice_month }} {{ month_group.grouper|index_to_year }}</h4>
  <div id="events">
  {% for event in month_group.list %}
    <div class="event-entry">
        <span class="event-date">{{ _date_or_range(event) }}</span>
        <span class="event-link"><a href="{{ url_for('event', id=event.id) }}">{{ event.name }}</a></span>
        <span class="event-location">{{ event|event_location }}</span>
    </div>
  {% endfor %}
  </div>
  {% endfor %}
	{% else %}
  <p>No upcoming events. Strange!</p>
  {% endif %}
{% endblock %}