{% extends "layout.html" %}
{% block title %}Upcoming events{% endblock %}
{% block content %}
  <h2>Upcoming events</h2>
  {% if events %}
  <p>Here are events between today and {{ until_date|nice_date }} {{ until_date.year }}.</p>
  <div class="monthly-event-list">
	{% for month_group in events|sort(attribute='start_date')|groupby('year_month_index') %}
	<h4>{{ month_group.grouper|index_to_month|nice_month }} {{ month_group.grouper|index_to_year }}</h4>
  {% for event in month_group.list %}
    <div class="event-entry">
        <span class="event-date">{{ monthly_date_or_range(event) }}</span>
        <span class="event-name"><a href="{{ url_for('view_event', event_id=event.id) }}">{{ event.name }}</a></span>
        <span class="event-location">{{ event|event_location }}</span>
    </div>
  {% endfor %}
  {% endfor %}
  </div>
	{% else %}
  <p>No upcoming events. Strange!</p>
  {% endif %}
{% endblock %}