{% extends "layout.html" %}
{% block title %}Events in {{ year }}{% endblock %}
{% block content %}
  <h1>Events in {{ year }}</h1>
  {% if events %}
  {%  if year <= 2012 %}
  <p>Events before May 2012 are patchy.</p>
  {% endif %}
  <div class="monthly-event-list">
	{% for month_group in events|sort(attribute='start_date')|groupby('start_date.month') %}
	<a name="{{ month_group.grouper }}"></a>
	<h4>{{ month_group.grouper|nice_month }}</h4>
  {% for event in month_group.list %}
    <div class="event-entry">
        <span class="event-date">{{ monthly_date_or_range(event) }}</span>
        <span class="event-name"><a href="{{ url_for('view_event', event_id=event.id) }}">{{ event.name }}</a></span>
        <span class="event-location">{{ event|event_location }}</span>
    </div>
  {% endfor %}
  {% endfor %}
  </div>
	{% else %}
  <p>We don't know of any events in {{ year }}.</p>
  {% endif %}
{% endblock %}