{% extends "layout.html" %}
{% block title %}Search{% endblock %}
{% block content %}
    <h1>Bookmarklet</h1>
    <p>Drag this button to your bookmarks to search events on Gameconfs:</p>
    <a class="btn" href="javascript:(function(){var%20jsCode=document.createElement('script');jsCode.setAttribute('src','{{ url_for('bookmarklet.search_js', _external=True) }}?v='+(Math.random()));document.body.appendChild(jsCode);})();">Search on Gameconf</a>
    <p><br/>Go to a web page and select the bookmarklet. Gameconfs will search for events with the same URL and for events containing any text you might have selected.</p>
{% endblock %}