{% extends "layout.html" %}
{% block title %}Search bookmarklet{% endblock %}
{% block content %}
  <h1>Search results</h1>
  {% if search_string %}
  <h2>Events called '{{ search_string }}'</h2>
  {% if found_events_by_string %}
  <div class="ad-hoc-event-list">
  {% for event in found_events_by_string %}
    <div class="event-entry">
        <span class="event-name"><a href="{{ url_for('view_event', event_id=event.id) }}">{{ event.name }}</a></span>
        <span class="event-date">{{ adhoc_date_or_range(event) }}</span>
        <span class="event-location">{{ event|event_location }}</span>
    </div>
  {% endfor %}
  </div>
	{% else %}
  <p>We don't know of any events with this name.</p>
  {% endif %}
  {% endif %}
  {% endif %}

  <h2>Events at {{ referring_url }}</h2>
  {% if found_events_by_url %}
  <div class="ad-hoc-event-list">
  {% for event in found_events_by_url %}
    <div class="event-entry">
        <span class="event-name"><a href="{{ url_for('view_event', event_id=event.id) }}">{{ event.name }}</a></span>
        <span class="event-date">{{ adhoc_date_or_range(event) }}</span>
        <span class="event-location">{{ event|event_location }}</span>
    </div>
  {% endfor %}
  </div>
	{% else %}
  <p>We don't know of any events with that URL.</p>
  {% endif %}
  {% endif %}

  <a class="btn btn-primary" href="{{ referring_url }}">Take me back</a>
{% endblock %}