/* Main page */

ul.button-list {
    padding-left: 0px;
}

.button-list li {
    list-style-type: none;
    margin-bottom: 4px;
}

/* Events update page */

body#events_update table {
    table-layout: fixed;
}


body#events_update table tr.recently-checked td.last-checked {
    background-color: lightgreen;
}

body#events_update table tr.due td.last-checked {
    background-color: #ffff00;
}

body#events_update table tr.overdue td.last-checked {
    background-color: red;
    color: #ffffff;
}


body#events_update table tr.not-being-checked {
    color: #d3d3d3;
}

body#events_update table tr.not-being-checked a {
    color: #d3d3d3;
}

body#events_update table tr.not-being-checked {
    color: #d3d3d3;
}

body#events_update table tr.not-being-checked a {
    color: #d3d3d3;
}

body#events_update td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
