@import "cleanslate.css";

/* Copied from bootstrap.css */

#gameconfs-widget-container {
    margin: 5px !important;
    padding: 5px !important;
    border: 1px solid #ddd !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 12px !important;
    line-height: 16px !important;
    color: #333333 !important;
    background-color: #ffffff !important;
    overflow-y: scroll !important;
}

#gameconfs-widget-container a {
    color: #0088cc !important;
    text-decoration: none !important;
}

#gameconfs-widget-container a:hover {
    color: #005580 !important;
    text-decoration: underline !important;
}

#gameconfs-widget-container h1,
#gameconfs-widget-container h2,
#gameconfs-widget-container h3,
#gameconfs-widget-container h4,
#gameconfs-widget-container h5,
#gameconfs-widget-container h6 {
    margin: 0 !important;
    font-family: inherit !important;
    font-weight: bold !important;
    color: inherit !important;
    text-rendering: optimizelegibility !important;
}

#gameconfs-widget-container h2 {
    font-size: 14px !important;
    line-height: 21px !important;
    padding-bottom: .5em !important;
}

#gameconfs-widget-container h3 {
    font-size: 12px !important;
    line-height: 18px !important;
}

#gameconfs-widget-container table {
    max-width: 100% !important;
    background-color: transparent !important;
    border-collapse: collapse !important;
    border-spacing: 0 !important;
}

#gameconfs-widget-container .table {
    width: 100% !important;
    margin-bottom: 18px !important;
}

#gameconfs-widget-container .table th,
#gameconfs-widget-container .table td {
    padding: 2px !important;
    /*line-height: 18px !important;*/
    text-align: left !important;
    vertical-align: top !important;
    border-top: 1px solid #dddddd !important;
}

#gameconfs-widget-container .table th {
    font-weight: bold !important;
}

#gameconfs-widget-container .table thead th {
    vertical-align: bottom !important;
}

#gameconfs-widget-container .table caption + thead tr:first-child th,
#gameconfs-widget-container .table caption + thead tr:first-child td,
#gameconfs-widget-container .table colgroup + thead tr:first-child th,
#gameconfs-widget-container .table colgroup + thead tr:first-child td,
#gameconfs-widget-container .table thead:first-child tr:first-child th,
#gameconfs-widget-container .table thead:first-child tr:first-child td {
    border-top: 0 !important;
}

#gameconfs-widget-container .table tbody + tbody {
    border-top: 2px solid #dddddd !important;
}

#gameconfs-widget-container .table-condensed th,
#gameconfs-widget-container .table-condensed td {
    padding: 4px 5px !important;
}

#gameconfs-widget-container .table tbody tr:hover td,
#gameconfs-widget-container .table tbody tr:hover th {
    background-color: #f5f5f5 !important;
}


/* Copied from gameconfs.css */

#gameconfs-widget-container table.events
{
    table-layout: fixed !important;
    width: auto !important;
}

#gameconfs-widget-container table.events td
{
    overflow: hidden !important;
}

#gameconfs-widget-container table.events tr.today td
{
    background: rgba(91, 167, 91, 0.25) !important;
}

#gameconfs-widget-container table.events tr:last-child td
{
    border-bottom: 1px solid #dddddd !important;
}

#gameconfs-widget-container table.events tr td:nth-child(1)
{
    width: 9em !important;
}

#gameconfs-widget-container table.events tr td:nth-child(2)
{
    width: 22em !important;
}

#gameconfs-widget-container table.events tr td:nth-child(3)
{
    padding-right: 1em !important;
}
