{% extends "layout.html" %}
{% block title %}Gameconfs admin page{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('admin.static', filename='css/admin.css') }}">
{%  endblock %}
{% block content %}
  <h2>Dashboard</h2>
  <ul class="button-list">
    <li><a class="btn btn-default" href="{{ url_for("admin.view_all_series") }}">All event series</a></li>
    <li><a class="btn btn-default" href="{{ url_for("admin.view_events_without_series") }}">All events without series</a></li>
    <li><a class="btn btn-default" href="{{ url_for("admin.view_problematic_events") }}">All events that might have problems</a></li>
  </ul>
{% endblock %}