{% extends "layout.html" %}
{% block title %}Problematic events{% endblock %}
{% block content %}
  <h1>Events that might have problems</h1>
  <p>Total number: {{ problematic_events|length }} events.</p>
  <div class="ad-hoc-event-list">
  {% for event in problematic_events %}
    <div class="event-entry">
        <span class="event-name"><a href="{{ url_for('view_event', id=event.id) }}">{{ event.name }}</a></span>
        <span class="event-date">{{ event.start_date.year }}</span>
        <span class="event-location">{{ event|event_location }}</span>
    </div>
  {% endfor %}
  </div>
{% endblock %}