/* Responsiveness */

@media (min-width: 768px) {
  .container {
    max-width: 700px;
  }

  body#index #search {
    width: 250px;
  }
}

@media (max-width: 768px) {
  body#index .form-inline .form-group {
    display:inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }

  body#index #search {
    width: 200px;
  }
}

/* Layout */

.title {
    color: #999;
    display: block;
    padding: 10px 0 10px 20px;
    margin-left: -20px;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: -1.5em;
}

.footer {
    padding-top: 1em;
}

.footer ul {
    padding-left: 0;
    list-style: none;
}

.footer ul li {
    float: left;
    display: block;
    position: relative;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-left: 1px solid #ddd;
}

.footer ul li:first-child {
    padding-left: 0;
    border-left: none;
}

#admin-bar {
    margin-top: 1em;
    margin-bottom: -0.5em;
}

/* Monthly event lists */

.monthly-event-list h4 {
    margin-left: 59px;
    padding-top: 0.5em;
}

.monthly-event-list .event-entry {
    border-top: #eee 1px solid;
    margin-bottom: 4px;
}

.monthly-event-list .event-entry > div {
    vertical-align: text-top;
}

.monthly-event-list .event-entry div.event-date {
    float: left;
    text-align: right;
    margin-right: 5px;
    width: 54px;
}

.monthly-event-list .event-entry div.event-name {
    float: left;
    padding-right: 1em;
    width: 300px;
}

.monthly-event-list .event-entry div.event-location {
    float: left;
    margin-left: 59px;
    /*width: 200px;*/
}

.monthly-event-list + p {
    padding-top: 1em;
}

/* Ad-hoc event lists */

.ad-hoc-event-list .event-entry {
    margin-bottom: .5em;
}

.ad-hoc-event-list .event-entry span.event-name {
    font-size: large;
    display: block;
}

.ad-hoc-event-list .event-entry span.event-hashtags {
    display: block;
}

.ad-hoc-event-list .event-entry span.event-date {
    text-align: left;
    margin-right: 0;
    display: block;
    width: 100%;
}

.ad-hoc-event-list .event-entry span.event-location {
    margin-left: 0;
}

/* Form-related styles */

.flash-msgs {
    padding: 0.5em 1em 0.5em 1em;
    margin-top: -10px;
    background: #ddd;
}

.flash-msgs li {
    list-style-type: none;
}

.flash-error {
    color: red;
}

/* Main page */

body#index .browse-list > div > a {
    display: inline-block;
    width: 200px;
}

/* Event page */

body#view-event .event-entry {
    margin-bottom: 1em;
}

body#view-event .event-entry span.glyphicon {
    display: inline-block;
    width: 32px;
    line-height: 2em;
}

body#view-event .event-entry span.event-date {
    display: inline-block;
    width: 400px;
}

body#view-event .event-entry span.event-url {
    display: inline-block;
    width: 400px;
}

body#view-event .event-entry span.event-twitter {
    display: inline-block;
    width: 400px;
}

body#view-event .event-entry span.event-hashtags {
    display: inline-block;
    width: 400px;
}

body#view-event .event-entry span.event-location {
    display: inline-block;
    width: 400px;
}

.internal-data {
    color: #999;
}

/* Stats page */

table.stats {
	table-layout: fixed;
	width: auto;
}

table#time-stats tr td {
	text-align: right;
	padding-left: 1em;
}

table#time-stats td.total {
	font-weight: bold;
}

table.bars tr td {
	border: none;
}

tabl.bars tr td:nth-child(1) {
    text-align: right;
}

table.bars .bar {
    display: inline-block;
    color: rgb(0, 136, 204);
    background-color: rgb(0, 136, 204);
}

table.bars .bar_label {
    margin-left: 0.5em;
}

/* Sponsoring */

#sponsor a, #sponsor a:visited, #sponsor a:active, #sponsor a:focus {
    color: rgb(51, 51, 51);
    text-decoration: none;
}

#sponsor a:hover {
    background: #eee;
}

/* Feedback form */
#feedbackForm form {
    margin-bottom: 0;
}
