/* Layout styling */
.header h1
{
	margin-top: 15px;
	margin-bottom: 10px;
}

.container
{
	padding-left: 1em;
	padding-right: 1em;
}

.footer
{
	margin-top: 30px;
}

.copyright p
{
	padding-top: 10px;
	margin-right: 1em;
}

.navbar-inner
{
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

/* Events list */
@media (max-width: 480px)
{
	.date
	{
		display: none;
	}
}

@media (min-width: 481px)
{
	.short_date
	{
		display: none;
	}
}

.badge-today
{
	background: #5BB75B;
}

table.events
{
	table-layout: fixed;
	width: auto;
}

table.events td
{
	overflow: hidden;
}

table.events tr:last-child td
{
  border-bottom: 1px solid #dddddd;
}

table.events tr td:nth-child(1)
{
    width: 9em;
}

table.events tr td:nth-child(2)
{
    width: 22em;
}

table.events tr td:nth-child(3)
{
    padding-right: 1em;
}

/* Event info */
table.event
{
	table-layout: fixed;
	width: auto;
}

table.event td
{
	overflow: hidden;
}

table.event tr:last-child td
{
  border-bottom: 1px solid #dddddd;
}

table.event tr td:nth-child(1)
{
    width: 10em;
}

table.event tr td:nth-child(2)
{
    padding-right: 1em;
}

/* Stats tables */
table.stats 
{
	table-layout: fixed;
	width: auto;
}

table#time-stats tr td
{
	text-align: right;
	padding-left: 1em;
}

table#time-stats td.total
{
	font-weight: bold;
}

table.bars tr td
{
	border: none;
}

tabl.bars tr td:nth-child(1)
{
    text-align: right;
}

table.bars .bar
{
    display: inline-block;
    color: rgb(0, 136, 204);
    background-color: rgb(0, 136, 204);
}

table.bars .bar_label
{
    margin-left: 0.5em;
}

/* Place controls */
div#place-controls div.btn-group
{
	position: relative;
	float: left;
	margin-right: 0.5em;
} 

div#place-controls i
{
	position: relative;
	float: left;
	margin-right: 0.5em;
	margin-top: 6px;
}

/* Flash messages */
.flash_msgs li
{
    list-style-type: none;
}
