/* Responsiveness */

@media (min-width: 768px) {
  .container {
    max-width: 500px;
  }

  body#index #search {
    width: 250px;
  }
}

@media (max-width: 768px) {
  body#index .form-inline .form-group {
    display:inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }

  body#index #search {
    width: 200px;
  }
}

/* Layout */

.title {
    color: #999;
    display: block;
    float: left;
    padding: 10px 20px 10px;
    margin-left: -20px;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: -0.5em;
}

.footer {
    padding-top: 1em;
  /*border-top: 1px solid #e5e5e5;*/
}

.footer ul {
    padding-left: 0;
    list-style: none;
}

.footer ul li {
    float: left;
    display: block;
    position: relative;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-left: 1px solid #ddd;
}

.footer ul li:first-child {
    padding-left: 0;
    border-left: none;
}

#admin-bar {
    margin-bottom: 1em;
}

/* General styles */

.event-entry {
    margin-bottom: 1.5em;
}

.event-entry > span {
    vertical-align: text-top;
}

.event-entry span.event-date {
    text-align: right;
    margin-right: 5px;
    display: inline-block;
    width: 50px;
}

.event-entry span.event-link {
    display: inline-block;
    width: 400px;
}

.event-entry span.event-location {
    margin-left: 59px;
    display: block;
    width: 400px;
}

.event span.glyphicon {
    margin-right: 0.5em;
}

.flash-msgs {
    padding: 0.5em 1em 0.5em 1em;
    margin-top: -10px;
    background: #ddd;
}

.flash-msgs li {
    list-style-type: none;
}

.flash-error {
    color: red;
}

/* Main page */

body#index .event-entry span.event-link {
    font-size: large;
    display: block;
}

body#index .event-entry span.event-hashtags {
    display: block;
}

body#index .event-entry span.event-date {
    text-align: left;
    margin-right: 0;
    display: block;
    width: 100%;
}

body#index .event-entry span.event-location {
    margin-left: 0;
}

body#index .browse-list > div > a {
    display: inline-block;
    width: 200px;
}

/* Search page */

body#search .event-entry span.event-link {
    font-size: large;
    display: block;
}

body#search .event-entry span.event-date {
    text-align: left;
    margin-right: 0;
    display: block;
    width: 100%;
}

body#search .event-entry span.event-location {
    margin-left: 0;
}

/* Year page */

body#year h1 {
    margin-left: 56px;
}

body#year h4 {
    margin-left: 59px;
}

/* Place page */

body#place h1 {
    margin-left: 56px;
}

body#place h4 {
    margin-left: 59px;
}

/* Upcoming page */

body#upcoming h1 {
    margin-left: 56px;
}

body#upcoming h4 {
    margin-left: 59px;
}

/* Event page */

.internal_data {
    color: #999;
}

/* Stats page */

table.stats
{
	table-layout: fixed;
	width: auto;
}

table#time-stats tr td
{
	text-align: right;
	padding-left: 1em;
}

table#time-stats td.total
{
	font-weight: bold;
}

table.bars tr td
{
	border: none;
}

tabl.bars tr td:nth-child(1)
{
    text-align: right;
}

table.bars .bar
{
    display: inline-block;
    color: rgb(0, 136, 204);
    background-color: rgb(0, 136, 204);
}

table.bars .bar_label
{
    margin-left: 0.5em;
}

/* Sponsor */
/*#sponsor*/
/*{*/
    /*padding-left: 0;*/
    /*padding-right: 0;*/
/*}*/

/*@media (max-width: 600px)*/
/*{*/
    /*#sponsor div*/
    /*{*/
        /*margin-left: 0;*/
        /*margin-right: 0;*/
    /*}*/
/*}*/

/*@media (min-width: 601px)*/
/*{*/
    /*#sponsor*/
    /*{*/
        /*width: 650px;*/
    /*}*/

    /*#sponsor div*/
    /*{*/
        /*margin-left: auto;*/
        /*margin-right: auto;*/
    /*}*/
/*}*/

/*#sponsor div*/
/*{*/
    /*margin-top: -10px;*/
    /*margin-bottom: 10px;*/
    /*width: 480px;*/
    /*height: 90px;*/
/*}*/

/* NEW SEARCH */

/*#search-form {*/
    /*display: None;*/
/*}*/

/*body#new-search .event-entry {*/
    /*border-top:solid 1px #efefef;*/
/*}*/

/*body#new-search .event-entry span {*/
    /*vertical-align: text-top;*/
/*}*/

/*body#new-search .event-entry span.event-date {*/
    /*width: 26px;*/
    /*text-align: right;*/
    /*margin-right: 18px;*/
    /*display: inline-block;*/
/*}*/

/*body#new-search .event-entry span.event-location {*/
    /*width: 94px;*/
    /*margin-right: 20px;*/
    /*display: inline-block;*/
/*}*/

/*body#new-search .event-entry span.event-link {*/
    /*width: 300px;*/
    /*display: inline-block;*/
/*}*/

/*body#new-search .event-entry span.event-hashtags {*/
    /*display: block;*/
/*}*/
