/* Layout styling */
div.header h1
{
	margin-top: 15px;
	margin-bottom: 10px;
}

div.container
{
	padding-left: 1em;
	padding-right: 1em;
}

div.footer
{
	margin-top: 30px;
}

div.copyright p
{
	padding-top: 10px;
}

/* Events list */
@media (max-width: 480px)
{
	.date
	{
		display: none;
	}
}

@media (min-width: 481px)
{
	.short_date
	{
		display: none;
	}
}

.badge-today
{
	background: DarkSeaGreen;
}

table.events
{
	table-layout: fixed;
	width: auto;
}

table.events td
{
	overflow: hidden;
}

table.events tr:last-child td
{
  border-bottom: 1px solid #dddddd;
}

table.events tr td:nth-child(1)
{
    width: 9em;
}

table.events tr td:nth-child(2)
{
    width: 22em;
}

table.events tr td:nth-child(3)
{
    padding-right: 1em;
}

/* Event info */
table.event
{
	table-layout: fixed;
	width: auto;
}

table.event td
{
	overflow: hidden;
}

table.event tr:last-child td
{
  border-bottom: 1px solid #dddddd;
}

table.event tr td:nth-child(1)
{
    width: 10em;
}

table.event tr td:nth-child(2)
{
    padding-right: 1em;
}

/* Time stats list */
table#time-stats 
{
	table-layout: fixed;
	width: auto;
}

table#time-stats tr td
{
	text-align: right;
	padding-left: 1em;
}

table#time-stats tfoot tr
{
	font-weight: bold;
}

/* Month list */
ul.months
{
	list-style-type: none;
}

ul.months li
{
	display: inline;
	text-align: center;
	padding: 1px 5px 2px 7px;
}

ul.months li.past
{
	font-style: italic;
}

ul.months li.today
{
	background: DarkSeaGreen;
}

ul.months li.today a
{
	color: white;
}

ul.months li.today a:visited
{
	color: white;
}
